<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/c"
             xsi:schemaLocation="
    http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


    <beans:bean id = "myUserDetailsService" class="com.alprojects.security.MyUserDetailsService" />

<!--
    <security:http auto-config="true">
        <security:intercept-url pattern="/**" access="ROLE_ADMIN" />
    </security:http>
-->


    <!-- enable use-expressions -->
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/index" access="isAuthenticated()" />
        <intercept-url pattern="/scripts/**" access="permitAll" />
        <intercept-url pattern="/" access="isAuthenticated()" />
        <intercept-url pattern="/edit_studs" access="isAuthenticated()" />
        <intercept-url pattern="/j_spring_security_check" access="permitAll" />
        <intercept-url pattern="/j_spring_security_logout" access="isAuthenticated()" />

        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <!-- access denied page -->
        <access-denied-handler error-page="/403" />
        <form-login
                login-page="/login"
                login-processing-url="/j_spring_security_check"
                username-parameter="j_username"
                password-parameter="j_password"
                authentication-failure-url="/login?error"
                default-target-url="/edit_studs"
                always-use-default-target="true"
        />

        <logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout" />
        <csrf disabled="true"/> <!-- remove it when problem with csrf will be solved -->
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService" >
            <!-- <password-encoder hash="sha-256" /> -->
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

    <!--
    <beans:bean id="encoder"
                class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg name="strength" value="11"/>
    </beans:bean>
    -->

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
                <beans:constructor-arg name="strength" value="11" />
    </beans:bean>



</beans:beans>
